# Disk Images and ISOs
*.qcow2
*.img
*.iso

# Build directories and generated artifacts
iso_build/
my-distro/
live-initramfs-root/

# Compiled Toolchains (these are massive)
toolchain/

# Downloaded bootloader binaries
limine/

# Ignore log files or temporary system files
*.log
.DS_Store
